In [ ]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [ ]:
import pandas as pd
import numpy as np

In [6]:
train_data=pd.read_csv('/content/train.csv')
test_data=pd.read_csv('/content/test.csv')
gender_submission=pd.read_csv('/content/gender_submission.csv')

In [8]:
train_data.head()
test_data.head()
gender_submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [9]:
train_data.dtypes
test_data.dtypes
gender_submission.dtypes

PassengerId    int64
Survived       int64
dtype: object

In [11]:
mean_age = train_data['Age'].mean()
median_age = train_data['Age'].median()
mode_age = train_data['Age'].mode().values[0]
std_age = train_data['Age'].std()
print(mean_age)
print(median_age)
print(mode_age)
print(std_age)

29.69911764705882
28.0
24.0
14.526497332334042

In [12]:
mean_fare = train_data['Fare'].mean()
median_fare = train_data['Fare'].median()
mode_fare = train_data['Fare'].mode().values[0]
std_fare = train_data['Fare'].std()
print(mean_fare)
print(median_fare)
print(mode_fare)
print(std_fare)

32.204207968574636
14.4542
8.05
49.6934285971809

In [13]:
mean_PassengerId = train_data['PassengerId'].mean()
median_fare = train_data['PassengerId'].median()
mode_fare = train_data['PassengerId'].mode().values[0]
std_fare = train_data['PassengerId'].std()
print(mean_PassengerId)
print(median_fare)
print(mode_fare)
print(std_fare)

446.0
446.0
1
257.3538420152301

In [15]:
mean_survived = train_data['Survived'].mean()
median_survived = train_data['Survived'].median()
mode_survived = train_data['Survived'].mode().values[0]
std_survived = train_data['Survived'].std()
print(mean_survived)
print(median_survived)
print(mode_survived)
print(std_survived)

0.3838383838383838
0.0
0
0.4865924542648575

In [16]:
mean_Pclass = train_data['Pclass'].mean()
median_Pclass = train_data['Pclass'].median()
mode_Pclass = train_data['Pclass'].mode().values[0]
std_Pclass = train_data['Pclass'].std()
print(mean_Pclass)
print(median_Pclass)
print(mode_Pclass)
print(std_Pclass)

2.308641975308642
3.0
3
0.836071240977049

In [17]:
print(f'Mean Age: {mean_age:.2f}')
print(f'Median Age: {median_age:.2f}')
print(f'Mode Age: {mode_age:.2f}')
print(f'Standard Deviation of Age: {std_age:.2f}')

Mean Age: 29.70
Median Age: 28.00
Mode Age: 24.00
Standard Deviation of Age: 14.53

In [18]:
print(f'Mean Fare: {mean_fare:.2f}')
print(f'Median Fare: {median_fare:.2f}')
print(f'Mode Fare: {mode_fare:.2f}')
print(f'Standard Deviation of Fare: {std_fare:.2f}')

Mean Fare: 32.20
Median Fare: 446.00
Mode Fare: 1.00
Standard Deviation of Fare: 257.35

In [20]:
print(f'Mean PassengerId: {mean_PassengerId:.2f}')
print(f'Median PassengerId: {median_fare:.2f}')
print(f'Mode PassengerId: {mode_fare:.2f}')
print(f'Standard Deviation of PassengerId: {std_fare:.2f}')

Mean PassengerId: 446.00
Median PassengerId: 446.00
Mode PassengerId: 1.00
Standard Deviation of PassengerId: 257.35

In [21]:
print(f'Mean Survived: {mean_survived:.2f}')
print(f'Median Survived: {median_survived:.2f}')
print(f'Mode Survived: {mode_survived:.2f}')
print(f'Standard Deviation of Survived: {std_survived:.2f}')

Mean Survived: 0.38
Median Survived: 0.00
Mode Survived: 0.00
Standard Deviation of Survived: 0.49

In [22]:
print(f'Mean Pclass: {mean_Pclass:.2f}')
print(f'Median Pclass: {median_Pclass:.2f}')
print(f'Mode Pclass: {mode_Pclass:.2f}')
print(f'Standard Deviation of Pclass: {std_Pclass:.2f}')

Mean Pclass: 2.31
Median Pclass: 3.00
Mode Pclass: 3.00
Standard Deviation of Pclass: 0.84